.services-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 30px;
}

.services-heading{
    text-align: center;
    margin-bottom: 10px;
}

.services-heading p {
    font-size: 17px;
    color: rgb(152, 12, 207);
}

.services-heading h1{
    font-size: 3rem;
}

.services-categories{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.tools-slide img{
    max-width: 50px;
    margin-right: 10px;
}

.services-panel{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    padding: 30px 40px;
    border: none;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
    height: 100dvh;
    position: relative;
}

.services-panel:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.services-panel:hover .panel-learnmore a {
    color: white;
}

.panel-heading{
    font-size: 18px;
}

.panel-learnmore a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(20, 22, 150);
    position: absolute;
    bottom: 0;
    left: 3;
    padding-bottom: 40px;
}

.panel-icon img{
    max-width: 200px;
}

@media (max-width: 900px){
    .services-component{
        max-width: 100vw;
    }

    .services-heading h1{
        font-size: 1.5rem;
    }

    .services-categories{
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    .services-panel{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        width: 90dvw;
        height: 87dvh;
    }

    .panel-learnmore a{
        color: rgb(165, 124, 71);
    }
    .tools-slide img{
        max-width: 30px;
        margin-right: 5px;
    }
}

@media (max-width: 1000px){
    .services-categories{
        max-width: 100vw;
        display: flex;
        flex-direction: column;
    }
}