.workpage-component{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
    margin-bottom: 20px;
    max-width: 100vw;
}

.workpage-display{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 40px;
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
}

.workpage-display:hover{
    background-color: black;
    color: white;
}

.workpage-display img{
    max-width: 300px;
    border-radius: 15px;
}

.workpage-display a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(20, 22, 150);
}

.workpage-display:hover a{
    color: white;
}

@media (max-width: 900px){
    .workpage-component{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 90px;
        margin-bottom: 10px;
        max-width: 100vw;
    }

    .workpage-display a{
        color: rgb(165, 124, 71);
    }

    .workpage-display{
        background-color: black;
        color: white;
        padding: 18px 20px;
    }
}